<h1> {{ message }}</h1>

<ul>
  <li>
    <a href="/getCars" class="get-posts">Get Cars</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">Get one - not functional yet </a>
  </li>
</ul>

<button class="deleteButton" type="button" name="button"> Delete Row</button>

<button id="F55" class="getButton"> get XHR data</button>
<button id="F56" class="getButton"> get XHR data</button>
<button id="R58" class="getButton"> get XHR data</button>
